<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>
    <section class="sec-header">
        <header class="header">
            <div class="cx-nav">
                <nav>
                    <div class="logo">
                        <a href="{{'/' | relative_url}}">
                            <img src="{{'/assets/img/logo.png' | relative_url}}">
                        </a>
                    </div>
                    <div class="menu">
                        <a class="menu-item" href="{{'/' | relative_url}}">Início</a>
                        <a class="menu-item" href="{{'/blog/' | relative_url}}">Blog</a>
                        <a class="menu-item" href="{{'/publicacoes/' | relative_url}}">Publicações</a>
                        <a class="menu-item" href="{{'/sobre/' | relative_url}}">Sobre</a>
                        <a class="menu-item" href="{{'/contato/' | relative_url}}">Contato</a>
                    </div>
                    <div class="rdSociais">
                        <a href="https://www.instagram.com/karoll.danntas/">
                            <img src="{{'/assets/img/insta.png' | relative_url}}">
                        </a>
                        <a href="mailto:kadantas@gmail.com">
                            <img src="{{'/assets/img/email.png' | relative_url}}">
                        </a>
                    </div>
                </nav>
            </div>
            <div class="bVindos">
                <div class="atalhos">
                    <a class="icons" href="{{'/' | relative_url}}">
                        <img src="/assets/img/icon-index.png">
                        <p>Início</p>
                    </a>
                    <a class="icons" href="{{'/blog/' | relative_url}}">
                        <img src="/assets/img/icon-blog.png">
                        <p>Blog</p>
                    </a>
                    <a class="icons" href="{{'/publicacoes/' | relative_url}}">
                        <img src="/assets/img/icon-publicacoes.png">
                        <p>Publicações</p>
                    </a>
                    <a class="icons" href="{{'/sobre/' | relative_url}}">
                        <img src="/assets/img/icon-sobre.png">
                        <p>Sobre</p>
                    </a>
                    <a class="icons" href="{{'/contato/' | relative_url}}">
                        <img src="/assets/img/icon-contato.png">
                        <p>Contato</p>
                    </a>
                </div>
            </div>
        </header>
    </section>
</body>
</html>