*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
}
p{
    font-family: "Lora", serif;
}
h1, h2, h3, a{
    font-family: "Zain", sans-serif;
}


/* Div com borda ondulada */
.onda-wrapper {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.onda-wrapper svg {
  display: block;
  width: 100%;
  height: 80px;
}
.onda-fill {
  fill: #c2c5fa /* cor da onda */
}



/* Div com borda ondulada */
.pagEmConst{
    max-width: 1200px;
    margin: 100px auto 60px;
}
.pagEmConst h1{
    font-size: 18px;
    text-align: center;
}
.pagEmConst .pgConst-img{
    max-width: 300px;
    margin: 0 auto;
}
.pagEmConst img{
    width: 100%;
}
.pagEmConst p{
    text-align: center;
}



/* Header */
.cx-nav{
    background-color: #c2c5fa;
}
nav{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:600px){
    nav{
        display: none;
    }
}
nav .logo img{
    width: 8%;
}
nav .menu a{
    margin: 0px 10px;
    text-decoration: none;
    color: #fefefe;
}
nav .menu a:hover{
    color: #170a1c;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}
nav .rdSociais{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
nav .rdSociais a{
    display: block;
    margin: 0px 10px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
nav .rdSociais a img{
    width: 30px;
    height: 30px;
}

.bVindos{
    height: 440px;
    background-image: url(/assets/img/fundo_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-top: solid 1px transparent;
}
@media screen and (max-width:600px){
    .bVindos{
        width: 100%;
    }
}
.bVindos .atalhos{
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: center;
    width: 580px;
    border-radius: 20px;
    background-color: #b1e1ff;
    margin: 360px auto 0px;
    padding: 18px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    position: relative;
    z-index: 1;
}
.bVindos .atalhos .icons{
    display: block;
    flex-basis: 80px;
    text-decoration: none;
    color: #fefefe;
}
.bVindos .atalhos .icons img{
    width: 100%;
}
.bVindos .atalhos .icons:hover img{
    transform: scale(1.1);
    transition: scale .3s;
}
.bVindos .atalhos .icons p{
    text-align: center;
    font-family: "Zain", sans-serif;
}
@media screen and (max-width:600px){
    .bVindos .atalhos{
        max-width: 360px;
    }
}



/* Prévia dos posts */
.sec-prev{
    background-image: url(/assets/img/pattern.png);
    background-position: center;
    background-attachment: fixed;
    padding: 0px 0px 40px;
    border-top: solid 1px transparent;
}
.cx-prev{
    max-width: 1200px;
    display: flex;
    gap: 20px;
    margin: 100px auto 0;
    background-color: #fefefe;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
}
@media screen and (max-width:600px){
    .sec-prev{
        padding: 0px 16px;
    }
    .cx-prev{
        display: block;
        margin-bottom: 40px;
    }
    .cx-prev article{
        margin-bottom: 24px;
    }
}
.cx-prev article img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}



/* Rodapé */
footer{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b1e1ff;
}
@media screen and (max-width:600px){
    footer{
        padding: 0px 16px;
    }
    footer p{
        text-align: center;
    }
}



/* Blog Archive */
.body-archive-blog{
    background-image: url(/assets/img/pattern.png);
    background-attachment: fixed;
}
.cx-posts{
    max-width: 1200px;
    margin: 100px auto 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}
@media screen and (max-width:600px){
    .cx-posts{
        display: block;
        padding: 0px 16px;
    }
    .cx-posts .post-preview{
        margin-bottom: 34px;
        padding-bottom: 12px;
    }
}
.cx-posts .post-preview{
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}
.cx-posts .post-preview img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px 5px 0px 0px;
}
.cx-posts .post-preview .cx-txt-preview{
    padding: 0px 10px;
}



/* Post individual */
.container-post{
    background-image: url(/assets/img/pattern.png);
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    background-attachment: fixed;
}
.cx-post{
    display: flex;
    max-width: 1200px;
    margin: 100px auto 60px;
    gap: 40px;
}
.left{
    flex-basis: 20%;
    border: solid 1px rgba(23, 10, 28, .1);
    border-radius: 5px;
    background-color: #fefefe;
}
.meio{
    flex-basis: 60%;
    background-color: #fefefe;
    padding: 18px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    border-radius: 5px;
}
.meio article img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}
.meio article .content p{
    margin-bottom: 18px;
    line-height: 1.6;
}
.direita{
    flex-basis: 20%;
    border: solid 1px rgba(23, 10, 28, .1);
    border-radius: 5px;
    background-color: #fefefe;
}
@media screen and (max-width:600px){
    .cx-post{
        display: block;
        padding: 0px 16px;
    }
    .left{
        display: none;
    }
}